name: Wake Up Streamlit (Commit Method)

on:
  schedule:
    # Una volta ogni 24 ore è più che sufficiente per non farla addormentare
    - cron: '0 10 * * *' 
  workflow_dispatch:

jobs:
  keep-alive:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create empty commit
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git commit --allow-empty -m "Keep-alive: sveglia automatica streamlit"
          git push
